<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checking Graduate</title>
    <link rel="stylesheet" href="remove.css"/>
</head>
<body>
    <h1>Graduate State</h1>
    <div>
        <%- answer %>
    </div>
    <br>
    <hr>
    <a href="/">HOME</a>
</body>
</html>