<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Checking Sysyem</title>
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
    <h1>Computer Science Graduate Checking Syetem</h1>
    <br>
    <br>
    <h2>Information</h2>

    <ul>
        <li>
            UMD Computer Science Graduate <a href="https://undergrad.cs.umd.edu/degree-requirements-cs-major">requirements</a>
        </li>
        <li>
            CMSC Blank 4-Year Plan <a href="https://undergrad.cs.umd.edu/sites/undergrad.cs.umd.edu/files/images/uploads/2021/08/CMSC%20Graduation%20Plan.pdf">PDF</a>
        </li>
        <li>
            The university's degree audit tool <a href="https://uachieve.umd.edu/selfservice/general/auditroute.html">uachieve</a>
        </li>
    </ul>
    <hr>
    <h2>Checking</h2>
    <ul>
        <li>
            Add new course to your <a href="/newCourse">table</a>   
        </li>
        <li>
            Display your current <a href="/tableList">course table</a>   
        </li>
        <li>
            Check your graduation <a href="/check">eligibility</a>
        </li>
        <li>
            To remove all courses <a href="/remove">Remove All Course</a>
        </li>
    </ul>
    <hr>
</body>

</html>
