<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Removed</title>  
    <link rel="stylesheet" href="remove.css"/>
</head>

<body>
    <h1>Removal of All Course</h1>
    <div>
        <p>All applicants have been removed from the database. Number of applicants remove: <%- num %></p>
        <br>
    </div>
    <a href="/">HOME</a>


</body>

</html>