<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Data</title>
    <link rel="stylesheet" href="remove.css"/>
</head>
<body>
    <h1>Removing All Courses</h1>
    <form action="/processRemove" method="post"
    onsubmit="return confirm('Are you sure you want to remove all courses?')">
        
        <input type="submit" value="Remove all courses">
    </form>
    <hr>
    <a href="/">HOME</a>
</body>
</html>